
body {
    margin: 0;
}

h1, h2, h3, h4 {
    color: #269df1;
}

.header-title {
    color: white;
}

.section-title {
    padding-top: 20px;
}

.input-box {
    height: 30px;
    width: -webkit-fill-available;
}

.sectionHr {
    border-top: 2px solid #269df1;
}

.btn {
    color: #fff;
    background-color: #269df1;
    outline:0;
    margin-left: 20px;
    font-size: 0.8em;
}

.btn-square {
    border:0;
}

.btn-sm {
    padding: 7px 20px 7px 20px;
}

.btn-run {
    background-color: lawngreen;
    height: 40px;
    font-weight: bold;
}

.btn-imp {
    background-color: #269df1;
    height: 40px;
    font-weight: bold;
}
